* {
padding: 0;
margin: 0;
}
img {
    max-width: 100%;
}
header{
    background-color: black;
    font-weight: 100;
    font-size: 1.0em;
}
.internal-wrapper{
width: 980px;
margin: 0 auto;
}

header .header-links-wrapper ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
header .header-links-wrapper ul li a{
    color: white;
    text-decoration: none;
    
    
}
.header-links-wrapper ul {
    padding: 10px 0 ;
    list-style: none;
}
.header-links-wrapper img{
    width: 18px;
    display: inline-block;
}



/* maacbook pro style */
.macbook-pro-class{
    text-align: center;
    padding: 20px;

}

.model{
    font-size: 20px;
    font-weight: 100;
}
.product-title{
    font-weight: 700;
    font-size: 56px;
}
.description-wrapper {
    font-size: 50px;
    font-weight: 300;
}
.links-wrapper ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 15px ;
}

.links-wrapper {
padding: 10px 0;

}
.links-wrapper a{
    font-size: 20px;
    text-decoration: none;
}
.links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;
}

.links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
}

.iphone11-pro-class {
background-image: url("../images/home/iphone11-pro-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
}

.title-wrapper{
    font-size: 50px;
    font-weight: 700;
}
.description-class {
    font-size: 30px;
    padding: 10px 0;
}

.price-wrapper {
    color: #86868b;
    font-size: 0.95em;
}

/* iphone 11 style */
.iphone11-class{
    background-image: url(../images/home/iphone11-bg.jpg);
    height: 580px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 65px 20px;
}

/* watch-card style */

.watch-card-class {
          display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        background: #fff;
}

.wacth-class{
    height: 580px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 48.5%;
        margin: 1% 0.5% 0% 1%;
        padding-top: 54px;
}
.watch-card-class .wacth-class{
    background-image: url("../images/home/watch-series-5.jpg");
}

.card-class{
    height: 580px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 48.5%;
        margin: 1% 1% 0% 0.5%;
        padding-top: 54px;
}
.watch-card-class .card-class{
    background-image: url("../images/home/apple-card.jpg");
}
.description-class {
    
    
}
.watch-card-class .description-class{
    font-size: 25px;
    padding: 10px 30px;
    margin: 0 auto;
    max-width: 430px;
}

/* footer style */
.footer-wrapper {
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: .85em;
}
.upper-text-container {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 20px;
}
.upper-text-container a {
    text-decoration: none;
    color: #515154;
}
.upper-text-container a:hover {
    text-decoration: underline;
}
.footer-links-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}
.footer-wrapper ul {
    list-style: none;
    padding-bottom: 20px;
}
.footer-wrapper ul li {
    padding: 5px 0;
    font-size: 0.9em;
}

.footer-links-wrapper a {
    color: #515154;
    text-decoration: none;
}
.footer-links-wrapper a:hover {
    text-decoration: underline;
}

.footer-links-wrapper h3 {
    font-size: 12px;
    font-weight: 600;
}
.my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.copyright-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0 20px;
}
.footer-links-terms ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}
.footer-links-terms ul li:last-child {
	border-right: 0px;
}
.footer-links-terms ul li a {
    text-decoration: none;
    color: #515154;
}

.footer-links-terms ul li a:hover {
    text-decoration: underline;
}

.footer-country {
    display: inline-block;
}

.flag-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.footer-country-name {
    display: inline-block;
    vertical-align: top;
}